* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.sidebar-container {
    display: flex;
    background: var(--neutral1);

}

.sidebarx {
    background: var(--neutral1);
    border-right: 2px solid var(--neutral4);
}

main {
    width: 100%;
}

.sidebar {
    color: var(--neutral7);
    height: 100vh;
    width: 200px;
    transition: all 0.2s;
}

.top_section {
    display: flex;
    align-items: center;
    padding: 20px 15px;
    transition: all 0.2s;
}

.bars {
    display: flex;
    font-size: 25px;
    margin-left: 50px;
    transition: all 0.2s;
}

.link {
    display: flex;
    color: var(--neutral7);
    padding: 10px 15px;
    gap: 15px;
    transition: all 0.2s;
}

.link:hover {
    background: var(--neutral3);
    color: var(--primary1);
    transition: all 0.5s;
}

.active {
    background: var(--neutral3);
    color: var(--primary1);
}

.icon {
    font-size: 24px;
}

.link_text {
    font-size: 12px;
    font-weight: 600;
    margin-top: 8px;
}